body {
  padding: 0;
  margin: 0;
  font-family: cursive;
  background-color: #5c5552;
}
.titulo {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #decbb7;
  gap: 15px;
  flex-direction: column;
}

.logo {
  height: 100px;
  width: 100px;
}
.navbar {
  display: flex;
  background-color: #5c5552;
  padding: 5px;
  justify-content: end;
  border: solid 3px #f7f0f5;
}
.navbar a {
  color: #decbb7;
  margin: 10px;
  text-decoration: none;
  transition: 0.4s;
}

.navbar a:hover {
  color: #f7f0f5;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
}

.asd {
  display: flex;
  padding: 20px;
  margin: 2rem;
  width: 500px;
  border: solid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #decbb7;
}
