body{
    margin: 0%;
    font-family: Arial;
}
header{
    background-color: #992211;
    color: #fff;
    margin: 0px;
    padding: 5px;
}

section{
    margin: 0;
    padding: auto;
}

#presentacion {
    background-color: #fff;
    color: #992211;
}

#productos {
    background-color: #992211;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#productos div {
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

#servicios {
    background-color: #fff;
    color: #992211;
}

footer {
    background-color: #992211;
    color: #fff;
}

button {
    border-radius: 10px;
    border: 0px;
    padding: 10px;
    font-family: serif;
}

img {
    height: 250px;
    width: 250px;
}