body{
    margin: 0%;
}
header{
    background-color: #992211;
    color: #fff;
    margin: 0px;
    padding: 0px;
}

#presentacion {
    background-color: #fff;
    color: #992211;
    margin: 0;
}

#productos {
    background-color: #992211;
    color: #fff;
    margin: 0;
}

#servicios {
    background-color: #fff;
    color: #992211;
}

footer {
    background-color: #992211;
    color: #fff;
    margin: 0;
}