.servicios {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #f7f0f5;
}
table {
  display: flex;
  border-left: solid 5px #decbb7;
  padding-left: 5px;
  border-bottom: solid 1px #decbb7;
}
table th {
  display: flex;
  font-size: larger;
  justify-content: start;
  align-items: center;
  border-top: solid 1px #decbb7;
  padding-left: 1px;
}
table td {
  display: flex;
  font-size: small;
}
